<p>TMEA rubric</p>

<!-- make a grid 6x6 with the top row and left column being a different color-->

<div class="container">
  <div class="grid">
    <mat-grid-list cols="6" rowHeight="100px" gutterSize="4px">
      <mat-grid-tile colspan="1" rowspan="1" class="header empty">
        <p></p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="header five">
        <p>5</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="header four">
        <p>4</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="header three">
        <p>3</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="header two">
        <p>2</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="header one">
        <p>1</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="cat">
        <p>Pitch</p>
      </mat-grid-tile>
      <mat-grid-tile
        type="button"
        (click)="setPitchScore(5)"
        (click)="onItemClicked($event)"
        clickable
        colspan="1"
        rowspan="1"
        class="desc five"
      >
        <p></p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc four">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc three">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc two">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc one">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="cat">
        <p>Rhythm</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc five">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc four">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc three">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc two">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc one">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="cat">
        <p>Tone</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc five">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc four">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc three">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc two">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc one">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="cat">
        <p>Pronunciation</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc five">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc four">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc three">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc two">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc one">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="cat">
        <p>Musicality</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc five">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc four">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc three">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc two">
        <p>description</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="desc one">
        <p>description</p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
